{% extends "base.html" %}
{% block content %}
<div class="page">
    <div class="text">
        <br>
        <h1>About us</h1>
        <br>
        <p>We are two student in our last year of college in Dublin City University. This website was created as part of our final year project. It combines our passion for machine learning and Mixed Martial Arts. In the future we would love to expand on the current website and implement more techniques. 
            This project involved creating our own datasets, so that we can train machine learning models to predict the performance of user's striking techniques. We implemented the models using sci-kit learn, the web application created via Flask and deployed to AWS instances.
            The datasets will be available on Kaggle in the near future.</p>
            
            <p>If you want to contact us on possibly working together please feel free to send us an email.</p>
            
            <p>Email: killian.connolly27@mail.dcu.ie</p>
            <p>Email: william.ohanlon2@mail.dcu.ie</p>
    </div>
</div>
{% endblock %}